@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small custom styles */
body { 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  @apply font-sans;
  background: linear-gradient(135deg, #FCF6D9 0%, #9CC6DB 100%);
  min-height: 100vh;
}